*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-main{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgrT2ggRWsGw9yrX4Gk5QmDa9Ttt7NVU_2zz_ZKNoHOBA4jWCGUVTgTCqdlGz2MdxTHEwMAUDF0SqnqxFKYgGc5P7SzA1-LCAes-m11q9VxHPQd6FD6v1WjXACacK-94jy5p1U_1LCxc7TT/s1600/16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container{
    border: 1px solid #cccccc;
    width: 55%;
    max-width: 390px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 1px #767676;
    background-color: #e4e3e3c6;
    background-color: transparent;
    backdrop-filter: blur(8px);
}
/* .login-container:hover{
    box-shadow: 1px 1px 7px 1px #b1b1b1;
} */
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo img{
    border-radius: 50%;
    width: 100px;
}

.login-container h1{
    text-align: center;
    margin: 0px 0px 7px;
    font-weight: 600;
    font-size: 2.2rem;
}

.login-container input{
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    border-radius: 7px;
    border: 1px solid #b6b6b6;
    background-color: transparent;
    outline: none;
    color: white;
}

.login-container input::placeholder{
    color: #b5b5b5;
}

#login-email:hover, #login-password:hover{
    /* outline-color: #bf2d2db4; */
    outline-width: 0.1px;
}

#login-email:focus, #login-password:focus{
    outline-color: rgb(90, 124, 249);
    outline-width: 0.1px;
}

.login-container label{
    margin-bottom: 5px; 
    font-size: 1.1rem;
    color: white;
}

.login-btn input{
    font-size: 1rem;
    margin-top: 20px;
    border: none;
}

.signup-opt{
    text-align: center;
    margin: 10px 0 0 0;
}
.signup-opt input{
    border: none;
}

.signup-opt p{
    color: rgb(204, 20, 20);
    font-size: 01rem;
}

.passwd-box div{
    position: relative;
}

.passwd-box img{
    position: absolute;
    width: 20px;
    right: 15px;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.others{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.others a{
    font-size: 0.8rem;
    color: blue;
}

.others p{
    font-size: 0.7rem;
    width: 80%;
    margin: auto;
    min-width: 250px;
    color: #4d4c4c;
    margin-top: 5px;
}

@media only screen and (max-width: 800px) {
    .login-container{
        width: 80%;
        margin-top: 0px;
        
    }

}