.header-container{
    --red: rgb(49, 49, 49);
    width: 100%;
    height: 70px;
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px 1px #a3a3a3;
}
.logo-head{
    width: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    margin-left: 20px;
    color: white;
}
.head h2{
    font-size: 1.1rem;
    margin-bottom: -2px;
    margin-top: -2px;
}

.head h5{
    font-size: 0.7rem;
    margin-bottom: -2px;
}
.head p{
    font-size: 0.65rem;
}
.nav-logo{
    width: fit-content;
}
.nav-logo img{
    width: 50px;
    border-radius: 50%;
}

/* ------- Nav links -------- */
.nav{
    width: 100%;
    flex-shrink: 2;
    max-width: 650px;
    display: flex;
    justify-content: space-evenly;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.1s ease-in-out;
}
.nav p a:hover{
    color: #d2d2d2;
}
.nav p a:active{
    color: white;
}


/* ------- login buton --------- */
.header-login{
    width:120px;
    display: flex;
    flex-shrink: 0;
    margin-right: 5px;
    justify-content: space-evenly;
}
.header-login button{
    background-color: rgb(243, 243, 243);
    transition: 0.3s all ease-out;
    font-weight: 700;
    font-size: 0.8rem;
}
.header-login button:hover{
    cursor: pointer;
    background-color: rgb(18, 18, 18);
    color: white;
}
.header-login button:active{
    cursor: pointer;
    background-color: rgb(199, 196, 196);
}



/* ------header profile -------- */
.header-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    height: 30px;
}
.header-profile div {
    height: 35px;
    width: 35px;
    overflow: hidden;
    position: relative;
}
.header-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.header-profile img:hover{
    border: 2px solid rgb(255, 255, 255);
}
.username{
    color: white;
    font-size: 0.7rem;
}
.online{
    border: 2px solid rgb(0, 255, 0);
}
.offline{
    border: 2px solid red;
}



/*------ side nav -------*/
#side-nav-btn{
    position: fixed;
    top: 90px;
    right: 0;
    z-index: 4;
    width: 40px;
    height: 45px;
    background-color: #6f6d6d44;
    border-radius:  12px 0 0 12px;
    border: none;
    box-shadow: 0px 1px 2px 1px #3c3c3c;
    display: none;
    transition: 0.3s;
}
#side-nav-btn:hover{
    cursor: pointer;
    background-color: #635b5b;
}
#side-nav-btn:active{
    background-color: #939393;
}
#side-nav-btn img{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
    .nav{
        max-width: 450px;
    }
    .nav a{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 950px) {
    .nav{
        display: none;
    }
    #side-nav-btn{
        display: block;
    }

}

@media only screen and (max-width: 660px) {
    .head h2{
        font-size: 1rem;
    }
    .head h5{
        font-size: 0.65rem;
    }
    .head p{
        font-size: 0.6rem;
    }
    .nav-logo img{
        width: 50px;
    }
    .logo-head{
        margin-left: 10px;
    }
    .header-login{
        width: 130px;
        margin-right: 0;
    }
    .header-login button{
        padding: 9px 12px;
        font-size: 0.75rem;
    }
    #side-nav-btn{
        top: 80px;
        display: block;
    }
    .username{
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 460px) {
    .header-container{
        height: 65px;
    }
    .head h2{
        font-size: 0.8rem;
    }
    .head h5{
        font-size: 0.5rem;
    }
    .head p{
        font-size: 0.45rem;
    }
    .logo-head{
        gap: 5px;
    }
    .nav-logo img{
        width: 40px;
    }
    .logo-head{
        margin-left: 7px;
    }
    .header-login{
        width: 120px;
        margin-right: 0;
    }
    .header-login button{
        padding: 8px 11px;
        font-size: 0.6rem;
    }
    #side-nav-btn{
        width: 35px;
        height: 40px;
        top: 70px;
        display: block;
    }
    .header-profile div{
        width: 25px;
        height: 25px;
    }
    .username{
        font-size: 0.6rem;
    }
    .header-login{
        width: fit-content;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 300px) {
    .head h2{
        font-size: 0.8rem;
    }
    .username{
        display: none;
    }
    .head{
        display: none;
    }
}