.resetPassword{
    width: 80%;
    margin: 30px auto 50px;
    background-color: white;
    padding: 5px 20px 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #ccc;
}
.resetPassword h1{
    margin: 30px 0px 40px;
    font-size: 1.4rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    font-weight: 600;
}
.resetPassword_container h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-left: 4px solid rgb(83, 83, 83);
    padding-left: 10px;
}
.resetPassword_container p{
    font-size: 0.9rem;
    margin-top: 20px ;
    color: #4d4d4d;
}
.resetPassword_container span{
    color: red;
    font-size: 1.1rem;
}

.resetPassword input{
    display: block;
    width: 100%;
    margin: 5px 0 15px;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
    padding: 8px 10px;
    outline-color: rgb(90, 124, 249);
}
.resetPassword_container button{
    font-size: 1rem;
    margin-top: 20px;
}
.resetPassword_container div, .deleteAccountContainer div{
    position: relative;
    width: 60%;
}
.resetPassword_container div img, .deleteAccountContainer div img{
    position: absolute;
    width: 20px;
    right: 15px;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.deleteAccountContainer{
    margin-top: 50px;
}
.deleteAccountContainer  p{
    font-size: 0.9rem;
}
.deleteInfo{
    color: #4d4d4d;
    margin: 30px 0 20px;
}
.deleteConfirmInfo{
    color: red;
    margin-top: 30px;
}
.deleteAccountContainer h2{
    border-left: 4px solid rgb(83, 83, 83);
    padding-left: 10px;
    margin: 20px 0;
}
.deleteAccountContainer button{
    font-size: 1rem;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .resetPassword{
        width: 95%;
    }
    .resetPassword_container div{
        width: 100%;
    }
    .resetPassword_container button{
        width: 100%;
    }
    .resetPassword_container h2{
        font-size: 1.3rem;
    }
}
