.staffs{
    margin: 0 auto 50px;
    width: 80%;
}
.staff-search{
    width: 90%;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
}
.staff-search img{
    position: absolute;
    right: 10px;
    height: 56%;
    top: 50%;
    transform: translateY(-50%);
}
.staff-search input{
    width: 100%;
    border-radius: 8px;
    padding: 7px 40px 7px 12px;
    border: 2px solid rgb(106, 106, 106);
    outline: none;
    cursor: pointer;
}

.staffs h2{
    margin: 30px 0px 40px;
    font-size: 1.6rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.staffs h3{
    margin: 20px 0;
    margin-left: 20px;
    font-size: 1.1rem;
    left: 0;
    border-left: 4px solid rgb(68, 68, 68);
    padding-left: 10px;
}

.staff-container, .academicStaff {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    /* gap: 15px; */
}
.importantastrick{
    color: red;
}

.academicStaff{
    display: flex;
    justify-content: center;
}
.staffs{
    .incharge{
        background-color: white;
        width: 90%;
        margin: 0 auto;
        padding: 5px 0;
        border-radius: 8px;
        border: 2px solid blue;
        margin-bottom: 20px;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .incharge a{
        color: blue;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem;  
    }
    .incharge a:hover{
        text-decoration: underline;
        color: black;
    }
}

@media only screen and (max-width: 780px) {
    .staffs{
        width: 90%;
    }
    .staff-container, .academicStaff {
        width: 100%;
    }
}
@media only screen and (max-width: 430px) {
    .staffs h2{
        font-size: 1.4rem;
    }
}