.newsFeed{
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;  
}

.newsFeed h2{
    font-size: 1.6rem;
    border-left: 4px solid rgb(219, 0, 0);
    text-transform: uppercase;
    padding-left: 10px;
    margin-bottom: 30px;
}
.bttn{
    border-radius: 5px;
    border: none;
    padding: 6px 28px;
    cursor: pointer;
}
.newsFeed .newsbtn{
    margin-top: 16px;
    margin-right: 10px;
}
.ashbtn{
    background: linear-gradient(145deg, rgb(157, 157, 157), rgb(38, 38, 38));
    color: #fff;
}
.ashbtn:hover{
    background: linear-gradient(0deg, rgb(38,38,38), rgb(38, 38, 38));
}
.ashbtn:active{
    background: linear-gradient(0deg, rgb(0,0,0), rgb(0,0,0));
}
.normalBtn{
    background-color: rgb(139, 139, 139);
    color: white;
}
.normalBtn:hover{
    background-color: rgb(203, 203, 203);
    color: black;
}
.normalBtn:active{
    background-color: rgb(177, 177, 177);
}
.newsFeed label, .newsFeed input, .newsFeed textarea{
    display: block;
    border-radius: 8px;
    width: 100%;
    padding:4px 8px;
    outline: none;
    border: 1px solid #ccc;
}
.newsFeed form{
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 2px 2px 8px #ccc;
}
.newsFeed label{
    border: unset;
    margin: unset;
    margin-left: -5px;
}
.redbtn{
    background: linear-gradient(145deg, rgb(255, 122, 122),rgb(255, 0, 0));
    background:linear-gradient(to right,#fd3b3b,#cf000a);
    color: white;
}
.redbtn:hover{
    background: linear-gradient(145deg, rgb(255,0,0),rgb(255, 0, 0));
}
.redbtn:active{
    background: linear-gradient(145deg, rgb(180,0,0),rgb(180, 0, 0));
}