.appliedTransferForms{
    width: 95%;
    margin: 0 auto 40px; 
}
.appliedTransferForms h1{
    margin: 10px 0px 20px;
    font-size: 1.4rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.appliedTransferForms .empty{
    color: #565656;
    margin-top: 40px;
}