.appliedDynamicForms{
    width: 95%;
    margin: 0 auto 40px; 
}
.appliedDynamicForms h2{
    margin: 10px 0px 40px;
    font-size: 1.4rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.singleForm{
    max-width: 650px;
    margin: auto;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 8px 10px;
    position: relative;
}
.singleForm .deleteBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.singleForm .deleteBtn img{
    width: 20px;
    height: 20px;
}
.singleForm h4{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}
.singleForm .wrapper{
    margin-bottom: 8px;
    display: flex;
    padding-bottom: 10px;
    border-bottom:1px solid #efefef;
}
.singleForm .wrapper:last-child{
    border: none;
}

.singleForm .wrapper p:nth-child(1){
    font-size: 1rem;
    color: #464646;
    font-weight: 600;
    width: 45%;
    text-align: right;
}
.singleForm .wrapper p:nth-child(2){
    margin-left: 10px;
}

.singleForm .status-approved {
    color: green;
    font-weight: bold;
}

.singleForm .status-pending {
    color: orange;
    font-weight: bold;
}
.singleForm .status-rejected {
    color: red;
    font-weight: bold;
}

.singleForm .devider{
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 20px;
}
.pdf{
    color: rgb(39, 39, 218);
    cursor: pointer;
}
