.appliedDynamicForms{
    width: 100%;
    margin: 0 auto 40px; 
}
.appliedDynamicForms h2{
    font-size: 1.5rem;
    color: #1e293b;
    font-weight: 700;
    margin: 0;
}
.singleForm{
    max-width: 650px;
    margin: auto;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 8px 10px;
    position: relative;
}
.singleForm .deleteBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.singleForm .deleteBtn:hover, .singleForm .closeBtn:hover{
    transform: scale(1.2);
}

.singleForm .closeBtn{
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.singleForm h4{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}
.singleForm .wrapper{
    margin-bottom: 8px;
    display: flex;
    padding-bottom: 10px;
    border-bottom:1px solid #efefef;
}
.singleForm .wrapper:last-child{
    border: none;
}

.singleForm .wrapper p:nth-child(1){
    font-size: 0.9rem;
    color: #464646;
    font-weight: 600;
    width: 50%;
    text-align: right;
}
.singleForm .wrapper p:nth-child(2){
    font-size: 0.9rem;
    margin-left: 10px;
}

.singleForm .status-approved {
    color: green;
    font-weight: bold;
}

.singleForm .status-pending {
    color: orange;
    font-weight: bold;
}
.singleForm .status-rejected {
    color: red;
    font-weight: bold;
}

.singleForm .devider{
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 20px;
}
.pdf{
    color: rgb(39, 39, 218);
    cursor: pointer;
}
