.registerRequests{
    width: 95%;
    margin: 0px auto 40px;    
}
.registerRequests h2{
    margin: 10px 0px 20px;
    font-size: 1.4rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.request{
    margin: 30px 40px;
    color: #262626;
}
.request .buttons{
    display: flex;
    flex-shrink: 1;
}
.highlight{
    color: rgb(67, 67, 67);
    font-weight: 600;
}
.singleRequestTap{
    padding: 8px 10px;
    border: 1px solid #b4b4b4;
    background-color: white ;
    margin-bottom: 5px;
    border-radius: 8px;
}
.singleRequestTap button{
    background-color: white;
    border: none;
    padding-right: 10px;
}
.singleRequestTap button img{
    width: 40px;
}
.singleRequestTap button img:hover{
    transform: scale(1.2);
}
.verify, .view-more, .reject{
    margin: 12px 8px 6px 0;
}
.greenbtn{
    /* font-weight: 600; */
    color: white;
    /* background: linear-gradient(145deg, #9dffa0, #00ff08); */
    background-color: black;
}
.greenbtn:hover{
    background: linear-gradient(145deg, #00ff08, #00ff08)
}
.greenbtn:active{
    background: linear-gradient(145deg, #00bc06, #00bc06)
}

.popupUserInfoContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.546);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userInfo{
    background-color: #f8f8f8;
    border-radius: 12px;
    box-shadow: 1px 1px 8px black;
    width: 90%;
    height: 90%;
    text-align: center;
    position: relative;
    overflow-y: auto;
    max-width: 900px;
    max-height: 600px;
}
.userInfo h4{
    margin: 20px 0 30px;
    font-size: 1.5rem;
    font-weight: 600;
}
.userInfo button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 600;
    font-size: 1rem;
}
.splitDiv{
    display: flex;
    justify-content: center;
}
.leftDiv{
    width: 40%;
}
.rightDiv{
    width:40%;
}
.info-row{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5px;
}
.info-label{
    color: #555;
    font-weight: 600;
    width: 30%;
    text-align: right;
}
.info-value{
    color: #333;
    width: 60%;
    text-align: left;
}

@media (max-width : 768px){
    .request{
        margin: 0;
    } 
    .userInfo button{
        font-size: 0.8rem;
        padding: 6px 16px;
    }
    .userInfo h4{
        margin: 30px 0;
    }

    .splitDiv{
        flex-direction: column;
    }
    .leftDiv{
        width: 100%;
    }
    .rightDiv{
        width:100%;
    }
    .info-label{
        width: 50%;
    }
    .info-value{
        width: 60%;
    }
}