.contact_container{
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
    padding-top: 70px;
}
.contact_container h2, .about-container h2{
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 20px 0 30px;
    font-weight: 600;
}
.about-container{
    margin-bottom: 40px;
}
.contactCard:last-child{
    /* border-bottom: none; */
}
.contact-info{
    display: flex;
    gap: 10px;
}

.contact-info h3{
    margin: 20px 0;
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    left: 0;
    border-left: 4px solid rgb(68, 68, 68);
    padding-left: 10px;
}

.about-content{
    background-color: #ffffff;
    width: 96%;
    padding: 25px 15px;
    border-radius: 12px;
    margin: auto;
    color:#141414;
    font-size: 0.9rem;
    box-shadow: 1px 1px 8px 1px #ccc;
}

@media (max-width: 430px){
    .contact-info{
        display: block;
    }
    .contact_container h2{
        font-size: 1.2rem;
    }
    .contact_container{
        width: 90%;
    }
}