.card{
    position: relative;
    border-radius: 8px;
    box-shadow:3px 3px 5px rgba(129, 129, 129, 0.474);
    border: 1px solid #a9a9a9;
    padding: 8px 12px;
    background-color: #f9f9f9;
    margin : 18px 0 ;
}
.card-head{
    font-size: 1.3rem;
    color: rgb(219, 0, 0);
}
.newsDateAndTime{
    font-size: 0.7rem;
    color: #999;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.news-content{
    display: flex;
    justify-content: space-between;
    /* align-items: self-start; */
}
.card-body{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 0.85rem;
}
.reporter{
    font-size: 0.75rem;
    color: #999;
    text-align: end;
}
.newsDetails{
    width: 90%;
    padding: 0 10px 0 0;
}
.card .newsDetails div{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.card .newsDetails img{
    width: 16px;
    height: 18px;
    cursor: pointer;
}
.card .newsDetails img:hover{
    transform: scale(1.2);
}
.newsPhotos{
    width: 30%;
    margin-bottom: 20px;
}
.newsPhotos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    /* float: right; */
}
@media (max-width: 868px){
    .newsPhotos{
        width: 45%;
    }
    .newsDetails{
        width: 53%;
    }
}
@Media (max-width:550px){
    .card-body{
        font-size: 0.7rem;
    }
    .news-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .newsPhotos{
        width: 100%;
    }
    .newsPhotos img{
        width: 100%;
        margin-bottom: -10px;
    }
    .newsDetails{
        width: 100%;
    }
}