.card{
    border-radius: 8px;
    box-shadow:0 0 7px 1px rgba(58, 58, 58, 0.2);
    border: 1px solid #d0d3f8;
    padding: 15px;
    background-color: #f9f9f9;
    margin : 12px 0 ;
}
.card-head{
    margin-bottom: 8px;
    font-size: 1.3rem;
}
.card-body{
    margin-bottom: 20px;
    color: #4d4d4d;
}