.noramlLeaveForm{
    width:90%;
    margin:20px auto 30px;
}

.normalleave-container{
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.normalleave-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
#leaveForm table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    background-color: white;
    font-size: 0.9rem;
}
#leaveForm input[type = "date"]{
    background-color: white;
}

#leaveForm td{
    padding: 0 5px ;
}
.noOfDaysLeaveCheckBox{
    text-align: center;
}
#leaveForm{
    width: 100%;
    overflow-x: auto;
}
#leaveForm label {
    display: block;
    margin-bottom: 5px;
}

#leaveForm input,#leaveForm select,#leaveForm textarea,#leaveForm button, #leaveForm p, #leaveForm th{
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
}
.radio div{
    width: 100px; 
    display: flex;
}
.submit{
    margin-top: 20px;
    margin: 20px auto 0;
    width: 200px;
}
.submit button {
    font-size: 0.9rem;
}

@media only screen and (max-width: 868px) {
    .fullLeaveForm{
        width: 100%;
    }
    .normalleave-container{
        width: 92%;
    }
}