.registerRequests{
    width: 95%;
    margin: 0 auto 40px;    
}
.registerRequests h2{
    margin: 30px 0px 20px;
    font-size: 2rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.request{
    margin: 30px 40px;
    color: #262626;
}
.highlight{
    color: rgb(67, 67, 67);
    font-weight: 600;
}
.singleRequestTap{
    padding: 8px 10px;
    border: 1px solid #b4b4b4;
    background-color: white ;
    margin-bottom: 5px;
    border-radius: 8px;
}
.verify, .view-more{
    margin: 12px 8px 6px 0;
}
.verify{
    font-weight: 600;
    background: linear-gradient(145deg, #9dffa0, #00ff08)
}
.verify:hover{
    background: linear-gradient(145deg, #00ff08, #00ff08)
}
.verify:active{
    background: linear-gradient(145deg, #00bc06, #00bc06)
}
