.resetPassword{
    width: 85%;
    margin: 30px auto 50px;
}
.resetPassword h1{
    margin: 30px 0px 40px;
    font-size: 2rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    font-weight: 600;
}
.resetPassword_container h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.resetPassword_container p{
    font-size: 0.9rem;
    margin-top: 20px ;
    color: #707070;
}
.resetPassword_container span{
    color: red;
    font-size: 1.1rem;
}

.resetPassword input{
    display: block;
    width: 100%;
    margin: 5px 0 15px;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
    padding: 8px 10px;
    outline-color: rgb(90, 124, 249);
}
.resetPassword_container button{
    padding: 8px 40px;
    border-radius: 8px;
    border: 1px solid #a2a2a2;
    background-color:rgb(185, 0, 0);
    color: white;
    font-size: 1rem;
    margin-top: 20px;
}
.resetPassword_container button:hover{
    background-color: rgb(219, 0, 0);
    cursor: pointer;
}
.resetPassword_container button:active{
    background-color:rgb(185, 0, 0);
}
.resetPassword_container div{
    position: relative;
    width: 60%;
}
.resetPassword_container div img{
    position: absolute;
    width: 20px;
    right: 15px;
    opacity: 0.6;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .resetPassword{
        width: 90%;
    }
    .resetPassword_container div{
        width: 100%;
    }
    .resetPassword_container button{
        width: 100%;
    }
}
