.staffs{
    margin: 0 auto 50px;
    width: 80%;
}
.staff-search{
    width: 90%;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 40px;
}
.staff-search img{
    position: absolute;
    right: 10px;
    height: 56%;
    top: 50%;
    transform: translateY(-50%);
}
.staff-search input{
    width: 100%;
    border-radius: 12px;
    padding: 7px 40px 7px 12px;
    border: 2px solid rgb(106, 106, 106);
    outline: none;
    cursor: pointer;
}

.staffs h2{
    margin: 30px 0px 40px;
    font-size: 2rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.staffs h3{
    margin: 20px 0;
    margin-left: 20px;
    font-size: 1.3rem;
    left: 0;
    border-left: 4px solid rgb(68, 68, 68);
    padding-left: 10px;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    /* gap: 15px; */
}
.importantastrick{
    color: red;
}

@media only screen and (max-width: 780px) {
    .staffs{
        width: 90%;
    }
    .staff-container {
        width: 100%;
    }
}