.transferform{
    width: 100%;
    padding: 0;   
    margin-bottom: 50px;
}

.transfer-container {
    margin: 50px auto; 
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(99, 99, 99, 0.306);           
}

.transfer-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#TransferForm .form-group {
    margin-bottom: 20px;
}

#TransferForm label {
    display: block;
    margin-bottom: 1px; 
}

#TransferForm input,#TransferForm select,#TransferForm textarea, #TransferForm p {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#TransferForm .deletebtn button {
    width: 200px;
}
#TransferForm .deletebtn {
    display: flex;
    justify-content: center;    
}


@media only screen and (max-width: 850px) {
    .transfer-container{
        width: 90%;
        margin-bottom: 50px;
    }
}
