.manageFaculties{
    width: 80%;
    margin: 30px auto 40px;
}
.manageFaculties h1{
    margin: 10px 0px 20px;
    font-size: 1.5rem;
    border-left: 4px solid rgb(219, 0, 0);
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
.manageFaculties .addOrEditDiv{
    margin: 45px 0 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 12px;
}
.manageFaculties .addOrEditDiv form div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.manageFaculties .addOrEditDiv form div div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.manageFaculties .addOrEditDiv form div div input{
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.manageFaculties .addOrEditDiv form button{
    min-width: fit-content;
}
.manageFaculties .tableCover{
    overflow-x: auto;
}
.manageFaculties table{
    width: 100%;    
    border-collapse: collapse;
}
.manageFaculties th{
    background-color: #ccc;
    padding: 12px 0;
}
.manageFaculties tr td{
    border-bottom: 1px solid #ededed;
}
.manageFaculties tr td{
    padding: 12px;
    text-align: center;
    font-size: 0.9rem;
}
.manageFaculties tr:hover{
    background-color: #ebebebc4;
}
.manageFaculties tr:nth-child(2n){
    background-color: white;
    
}
.manageFaculties tr:nth-child(2n):hover{
    background-color: #ebebebc4;
}
.manageFaculties table button{
    padding: 5px 12px;
}

@media (max-width: 768px) {
    .manageFaculties{
        width: 90%;
    }
}
@media (max-width: 500px) {
    .manageFaculties{
        width: 95%;
    }
    .manageFaculties .addOrEditDiv form button{
        font-size: 0.7rem;
    }
    .manageFaculties table button{
        font-size: 0.7rem;
    }
    .manageFaculties table tr td{
        font-size: 0.8rem;
    }
    
}