.normalLeaveTemplate-container{
    position: relative;
    overflow: auto;
}
.normalLeaveTemplate-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}
.normalLeaveTemplate-container table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    background-color: white;
    font-size: 0.9rem;
}
.normalLeaveTemplate-container input[type = "date"]{
    background-color: white;
}

.normalLeaveTemplate-container td{
    padding: 0 5px ;
}
.noOfDaysLeaveCheckBox{
    text-align: center;
}
.normalLeaveTemplate-container{
    width: 100%;
    overflow-x: auto;
}
.normalLeaveTemplate-container label {
    display: block;
    margin-bottom: 5px;
}

.normalLeaveTemplate-container input, .normalLeaveTemplate-container select, .normalLeaveTemplate-container textarea ,.normalLeaveTemplate-container button, .normalLeaveTemplate-container p, .normalLeaveTemplate-container th{
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    font-size: 0.9rem;
}
.radio div{
    width: 100px; 
    display: flex;
}

.normalLeaveTemplate-container .deleteBtn{
    position: absolute;
    right: 0px;
    top: -10px;
    width: fit-content;
    border: none;
    background-color: inherit;
}
.normalLeaveTemplate-container .deleteBtn:hover{
    transform: scale(1.2);
}
.normalLeaveTemplate-container .close-btn{
    position: absolute;
    left: 0px;
    top: -10px;
    width: fit-content;
    border: none;
    background-color: inherit;
}
.normalLeaveTemplate-container .close-btn:hover{
    transform: scale(1.2);
}
.normalLeaveTemplate-container .deleteBtn img{
    width: 20px;
}
.normalLeaveTemplate-container .deleteBtn img:hover{
    transform: scale(1.2);
}