.notifications{
    display: grid;
    grid-template-columns: minmax(8%, 230px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " requestsTap requests"
    ;
}
.requestsTap{
    grid-area: requestsTap;
    /* background-color: white; */
    padding: 50px 0;
    width: fit-content;
    /* border-right: 2px id #9c9c9c; */
    box-shadow: 2px 0px 12px 1px rgba(0,0,0,0.28);
}
.requestsTap button{
    position: relative;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: rgb(46, 46, 46);
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.requestsTap button:hover{
    background-color: rgb(208, 208, 208);
}
.requests{
    grid-area: requests;
}
.requestCount{
    display: inline-block;
    position: absolute;
    font-size: 0.7rem;
    color: white;
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    align-content: center;
}

@media (max-width: 768px) {
    .notifications{
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;
        grid-template-areas: 
            "requestsTap"
            "requests"
            ;
        overflow: auto;
    }
    .requestsTap{
        padding: 10px 0;
        gap: 20px;
        box-shadow: 0px 2px 12px 1px rgba(151, 151, 151, 0.28);
        margin: auto;
        width: 100%;
    }
    .requestsTap button{
        display: unset;
        text-align: center;
        margin-bottom: 0;
    }
}