.notifications{
    width: 85%;
    margin: 0px auto 30px;
    display: grid;
    grid-template-columns: minmax(4%, 230px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " requestsTap requests"
    ;
    background-color: white;
    padding: 10px 20px 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #ccc;
}
.requestsTap{
    grid-area: requestsTap;
    padding: 10px 0;
    width: fit-content;
    border-right: 2px solid #ccc;
}
.requestsTap button{
    text-align: left;
    position: relative;
    font-size: 0.9rem;
    border: none;
    background-color: transparent;
    color: rgb(46, 46, 46);
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.requestsTap button:hover{
    background-color: rgb(208, 208, 208);
}
.requests{
    grid-area: requests;
}
.requestCount{
    display: inline-block;
    position: absolute;
    font-size: 0.7rem;
    color: white;
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    align-content: center;
}

@media (max-width: 768px) {
    .notifications{
        width: 90%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-top: -40px;
    }
    .requestsTap{
        padding: 10px 0;
        gap: 20px;
        border-bottom: 2px solid #ccc;
        border-right: unset;
        margin: auto;
        width: 100%;
    }
    .requestsTap button{
        display: unset;
        text-align: center;
        margin-bottom: 0;
    }
}