.PaternalLeaveForm{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 40px auto;
    background-color: white;
    padding: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.PaternalLeaveForm > h2{
    margin-bottom: 25px;
    font-size: 1.4rem;
}
.PaternalLeaveForm .input-group{
    margin-bottom: 12px;
}
.PaternalLeaveForm label{
    display: block;
    font-size: 0.95rem;
    color: #4b4b4b;
    margin-bottom: 2px;
}
.PaternalLeaveForm input, .PaternalLeaveForm select, .PaternalLeaveForm p{
    width: 100%;
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9rem;
}
.PaternalLeaveForm button{
    width: 200px;
    font-size: 0.9rem;
    margin: 20px auto 10px;
    display: block;
}

.PaternalLeaveForm .submit-btn{
    display: flex;
    justify-content: center;
}

.PaternalLeaveForm .submit-btn input{
    width: 200px;
    margin: 30px 0 10px;
    padding: 7px 0;
}

@media only screen and (max-width: 768px) {
    .PaternalLeaveForm{
        width: 90%;
    }
}